<!doctype html>
<html class="no-js" lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css"
          integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg=="
          crossorigin="anonymous">
</head>

<body>
<div class="grid-container">
    <h1>state.tf <small>Instant Terraform state</small></h1>
    <p class="lead">The simplest way to store your Terraform state files!/p>
    <hr/>

    <p>Just follow these steps:</p>

    <p>
        Enable HTTP backend in you terraform code.
        <div class="callout secondary clearfix">
            <pre id="code1" class="float-left">terraform {
    backend "http" {}
}</pre>
            <button id="copy1" type="button" class="float-right button primary">Copy</button>
        </div>
    </p>

    <p>
        Configure the backend on initialization.
        <div class="callout secondary clearfix">
            <pre id="code2" class="float-left">terraform init \
    -backend-config="address={{ api_url }}/{{ stateid }}" \
    -backend-config="lock_address={{ api_url }}/{{ stateid }}" \
    -backend-config="unlock_address={{ api_url }}/{{ stateid }}"</pre>
            <button id="copy2" type="button" class="float-right button primary">Copy</button>
        </div>
        <div class="callout warning small">
            <span class="badge warning">!</span>
            <i>This command contains sensitive information. Please, keep it safe.</i>
        </div>
    </p>

    <hr/>

    <p>This project is <a href="https://gitlab.com/pbacterio/instantfstate">Open source</a>.</p>

    <script src="https://cdn.jsdelivr.net/npm/clipboard-polyfill@2.8.6/dist/clipboard-polyfill.min.js"></script>
    <script>
        document.getElementById("copy1").onclick = function() {
            clipboard.writeText( document.getElementById("code1").textContent )
        }
        document.getElementById("copy2").onclick = function() {
            clipboard.writeText( document.getElementById("code2").textContent )
        }
    </script>
</div>
</body>

</html>